[submodule "purplish-project-frontend"]
	path = purplish-project-frontend
	url = https://github.com/alphatechnolog/purplish-project-frontend.git
[submodule "purplish-project-items"]
	path = purplish-project-items
	url = https://github.com/alphatechnolog/purplish-project-items.git
[submodule "purplish-project-warehouses"]
	path = purplish-project-warehouses
	url = https://github.com/alphatechnolog/purplish-project-warehouses.git
[submodule "purplish-project-kardex"]
	path = purplish-project-kardex
	url = https://github.com/alphatechnolog/purplish-project-kardex.git
