project="Purplish Project - Kardex"
outfile="purplish-project-kardex/README.md"
description="Micro for the kardex functionality"

[setting_up]
name="Setting up the project"
description="Follow the next instructions to get the micro up and running"
dependencies="sqlite3"
dependencies="go"
cmd_sequence="./.bin/run-migrations.sh"
cmd_sequence="go mod tidy"
cmd_sequence="PORT=8002 go run ."