project="Purplish Project - Memberships"
outfile="purplish-project-memberships/README.md"
description="Micro for the memberships functionality"

[setting_up]
name="Setting up the project"
description="Follow the next instructions to get the micro up and running"
dependencies="sqlite3"
dependencies="go"
cmd_sequence="./.bin/run-migrations.sh"
cmd_sequence="go mod tidy"
cmd_sequence="cp -rvf ./.env{.example,} # Edit the .env file if needed"
cmd_sequence="go run cmd/api/main.go"